# general patterns
*.env
*.log
*.pid
*.pyc
*.swp
*.vscode*
*.obsidian*

# code-specific patterns
*_autogen*
*LocalSettings.bash
*LocalGitSettings.bash
logs/*
*git-ignore-me*
SessionSettings.bash

# directories that should not be tracked
#
##   managed by the installation software
deps  
deps/sysetc/_autogen_config.bash
mounts/containerUser
##
##   managed at runtime; might be created at initialization
input-output

# typical output to ignore
*slurm*.out
*slurm*.err
*slurm_submit.sh
*mdinfo
*.parm7
*.rst7
*min.out
*md.out
*heat.out
*equil.out
*prod.out
*mdout
*timings.json

