# general patterns
*.env
*.log
*.pid
*.pyc
*.swp
*_autogen_*
*.vscode*
*.obsidian*

# code-specific patterns
*LocalSettings.bash
logs/*
*git-ignore-me*

# directories that should not be tracked
#
##   managed by the installation software
deps/conda  
deps/src
mounts/containerUser
##
##   managed at runtime; might be created at initialization
input-output

# typical output to ignore
*slurm*.out
*slurm*.err
*slurm_submit.sh
*mdinfo
*.parm7
*.rst7
*min.out
*md.out
*heat.out
*equil.out
*prod.out
*mdout
*timings.json

