*.env
*.log
logs/*
*.pid
*.pyc
*.swp
*LocalSettings.bash
*_autogen_*
*.vscode*
*.obsidian*
*git-ignore-me*

*slurm*.out
*slurm*.err
*slurm_submit.sh
*mdinfo
*.parm7
*.rst7
*min.out
*md.out
*heat.out
*equil.out
*prod.out
*mdout
*timings.json

